@media only screen and (min-width:200px) and (max-width: 575px) {
    header {
        flex-direction: column;
        /* align-items: stretch; er kaj holo width er somo poriman jayga neoya.
        er kaj aro vlo vabe janar jonno
        project ke phn responsive kore ei property ke off korle bujha jabe  */
        align-items: stretch;
        gap: 10px;
        padding: 8px;
    }

    .logo {
        padding: 16px 1px;
    }

    .hederAddress {
        padding: 15px 14px;
    }

    .hederAddress h3 {
        font-size: 20px;
    }

    .hederAddress p {
        font-size: 15px;
    }

    .hederleft {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hederAddress h3 {
        font-size: 15px;
    }

    .hederAddress p {
        font-size: 11px;
    }

    .searchBox button {
        padding: 10px;
    }

    .hederBTN {
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-right: 0px;
        padding: 11px;
        background-color: white;
    }

    .bannerSection img {
        display: none;
    }

    .oderBanner {
        display: flex;
        max-width: 1450px;
        margin: auto;
        flex-direction: column;
        padding: 33px;
        margin: 0px;
        gap: 11px;
    }

    .categotyItem {
        flex-basis: 25%;
    }

    .productSection {
        /* padding-bottom: 100px; */
        margin: 0px 0px;
        padding: 18px;
    }

    .headingRow {
        padding: 2px;
    }

    .headingRow h2 {
        font-size: 15px;
    }

    .headingRow a {
        font-size: 15px;
    }

    .productItem {
        flex-basis: 48%;

    }

    .categotySection {
        padding: 20px;
    }

    .footer-mid-row1 {
        flex-direction: column;
        padding: 10px;
    }

    .usefullink {
        display: flex;
        gap: 10px;
        /* padding-left: 8px;
        padding-right: 32px; */
    }

    .footer-mid-row3 {
        padding: 0px 10px;
    }

    .footer-mid-row2 {
        flex-direction: column;
        gap: 20px;
    }

    .appIcon {
        display: flex;
        flex-direction: column;
    }

    .appIcon-Img {
        /* width: 100px; */
        display: flex;
        gap: 20px;
        padding: 20px;
    }

    .footer-mid-row3 {
        padding: 10px;
        margin: 15px;
    }

}



@media only screen and (min-width:576px) and (max-width: 991px) {
    .logo {
        padding: 0px 0px;
    }

    .hederAddress {
        padding: 2px 10px;
        width:max-content;
    }

    .hederAddress h3 {
        font-size: 15px;
    }

    .hederAddress p {
        font-size: 11px;
    }

    .hederBTN {
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-right: 0px;
        padding: 11px;
        background-color: white;
    }

    .searchBox {
        margin-right: 30px;
        margin: 5px;
    }

    .productSection {
        max-width: 1500px;
        padding: 25px;
        margin: 24px 0px;
    }

    .footer-mid-row2 {
        padding: 20px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .footer-mid-row2 p {
        flex-basis: 40%;
        text-align: center;
        font-size: 25px;
    }
}